.inverted {
  color: $gray-100;

  a {
    color: white;

    &:active,
    &:hover,
    &:visited {
      color: inherit;
    }

    path {
      fill: white;
    }

    svg {
      stroke: white !important;
      fill: white !important;
    }
  }
}

.banner {
  border-bottom: 4px solid $primary;
  padding: 2em;
  background-color: $gray-700;
}

.banner .container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media (min-width: 768px) {
    align-items: baseline;
    flex-direction: row;
    justify-content: space-between;
  }
}

.banner .brand {
  background-image: url("../images/logo-web.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 130px;
  text-indent: -999999px;
  display: block;
  width: 100%;

  @media (min-width: 768px) {
    width: 263px;
  }
}

.banner .description {
  font-size: 16px;
  color: $primary;
  font-weight: 800;
  align-self: flex-end;
  font-style: italic;
  margin-left: 1em;
  position: relative;
  top: 0.5em;
  line-height: 1.125em;
  width: 100%;

  @media (min-width: 768px) {
    width: auto;
    font-size: 2vw;
  }

  @media (min-width: 992px) {
    font-size: 3vw;
  }

  @media (min-width: 1200px) {
    font-size: 36px;
  }

  &::after {
    content: "!";
    font-size: 1.5em;
    font-style: italic;
    position: absolute;
    margin-top: 0;
  }
}

.nav-primary {
  background: $gray-800;

  .menu-item {
    padding: 1em;

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
    }
  }

  @extend .inverted;

  margin-bottom: 2em;
}

footer.content-info {
  margin-top: 3em;
  background: $gray-800;
  padding: 1em;

  @extend .inverted;
}

.footer__description {
  text-align: center;
}

article {
  margin: 5em 0;
}
