/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
$font-family-sans-serif: "Open Sans";

$primary: #e94d1a;
$secondary: #153553;

$gray-300: lighten($secondary, 40%);
$gray-400: lighten($secondary, 30%);
$gray-500: lighten($secondary, 20%);
$gray-600: lighten($secondary, 10%);
$gray-700: $secondary;
$gray-800: darken($secondary, 10%);
$gray-900: darken($secondary, 20%);
